# CraveBiZ AI Server Settings
GEMINI_API_KEY=AQ.Ab8RN6Ij885cJ8AHHs6dqJ_OjZVm-VULrqi46Qx8edZz3zU-ug
VITE_FLUTTERWAVE_PUBLIC_KEY=FLWPUBK-be4112ae570f23f8bb16b1efd6f75ec4-X
FLUTTERWAVE_SECRET_KEY=FLWSECK-0a103607f076cd25ac03edc0d3ec7790-19f551abc43vt-X

# Resend Email API Key
RESEND_API_KEY=re_cp7e8ucH_2dJ4qAeWpsB5SthQ9FwVcxJK

# Email Dispatch Settings (Optional SMTP Server Configuration)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=no-reply@cravebiz.ai
