# CraveBiZ AI Server Settings
GEMINI_API_KEY=AQ.Ab8RN6Ij885cJ8AHHs6dqJ_OjZVm-VULrqi46Qx8edZz3zU-ug
VITE_FLUTTERWAVE_PUBLIC_KEY=FLWPUBK-be4112ae570f23f8bb16b1efd6f75ec4-X
FLUTTERWAVE_SECRET_KEY=FLWSECK-0a103607f076cd25ac03edc0d3ec7790-19f551abc43vt-X

# SMTP Configuration (Mail Manager / Amazon Web Services SMTP)
SMTP_HOST=u68gmz62qy7g.fips.mail-manager-smtp.us-east-2.on.aws
SMTP_PORT=587
SMTP_USER=inp-swyctvudaud66iimc7vl4dt3
SMTP_PASS=?97&l6xrbQ5xX)A$%2gx^RjuelxC8HEq
SMTP_REGION=us-east-2
SMTP_FROM=noreply@cloudcraves.com
SMTP_REPLY_TO=support@cloudcraves.com
