# CraveBiZ AI Server Settings
GEMINI_API_KEY=AQ.Ab8RN6Ij885cJ8AHHs6dqJ_OjZVm-VULrqi46Qx8edZz3zU-ug
VITE_FLUTTERWAVE_PUBLIC_KEY=FLWPUBK-be4112ae570f23f8bb16b1efd6f75ec4-X
FLUTTERWAVE_SECRET_KEY=FLWSECK-0a103607f076cd25ac03edc0d3ec7790-19f551abc43vt-X
